# dependencies
/node_modules

# build output
/dist

# environment (keep .env.example)
.env
.env.*
env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor / OS
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
